<div class="header-profile">
  <div class="header-profile-picture-box" routerLink="/profil">
    <div class="header-profile-picture">
      <ng-container *ngIf="userProfileDetails$ | async as userProfile">
        <img
          [src]="
            userProfile?.profileImage?.downloadURL
              ? userProfile.profileImage.downloadURL
              : sampleUserProfileImage
          "
          alt="profile picture"
        />
      </ng-container>
    </div>
  </div>
  <div class="header-profile-name">
    <a routerLink="/profil">Profile</a>
  </div>
</div>
