<app-auth-container [authImg]="authType.SignUp">
  <form
    (ngSubmit)="onSubmit(signUpFormGroup)"
    class="form row"
    [formGroup]="signUpFormGroup"
  >
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. jhon@mail.com"
          name="email"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            signUpFormGroup.controls['email'].hasError('email') &&
            !signUpFormGroup.controls['email'].hasError('required')
          "
        >
          Introdu o adresa de email valida
        </mat-error>
        <mat-error
          *ngIf="signUpFormGroup.controls['email'].hasError('required')"
        >
          Adresa de email este <strong>obligatorie</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Nume de utilizator</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. jhon"
          name="username"
          formControlName="username"
          pattern="([A-Za-z0-9_]+)"
          (focusout)="
            handleCheckUsername(signUpFormGroup.controls['username'].value)
          "
        />
        <mat-error
          *ngIf="
            signUpFormGroup.controls['username'].hasError('pattern') &&
            !signUpFormGroup.controls['username'].hasError('required')
          "
        >
          Caractere invalide. Poti folosi doar a-z, 0-9 si _
        </mat-error>
        <mat-error
          *ngIf="signUpFormGroup.controls['username'].hasError('required')"
        >
          Numele de utilizator este <strong>obligatoriu</strong>
        </mat-error>
        <mat-error
          *ngIf="
            signUpFormGroup.controls['username'].hasError(
              'usernameIsNotValid'
            ) && !signUpFormGroup.controls['username'].hasError('required')
          "
        >
          Numele de utilizator este <strong>nu este valabil</strong>
        </mat-error>
        <mat-error
          *ngIf="
            signUpFormGroup.controls['username'].hasError('minlength') &&
            !signUpFormGroup.controls['username'].hasError('required') &&
            !signUpFormGroup.controls['username'].hasError('pattern')
          "
        >
          Trebuie să contina minim 4 caractere
        </mat-error>
        <mat-error
          *ngIf="
            signUpFormGroup.controls['username'].hasError('maxlength') &&
            !signUpFormGroup.controls['username'].hasError('required') &&
            !signUpFormGroup.controls['username'].hasError('pattern')
          "
        >
          Trebuie să contina maxim 30 caractere
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Parola</mat-label>
        <input
          matInput
          type="password"
          name="password"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            signUpFormGroup.controls['password'].hasError('minlength') &&
            !signUpFormGroup.controls['password'].hasError('required')
          "
        >
          Parola trebuie să contina minim 8 caractere
        </mat-error>
        <mat-error
          *ngIf="signUpFormGroup.controls['password'].hasError('required')"
        >
          Parola este <strong>obligatorie</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Confirma Parola</mat-label>
        <input
          matInput
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          (keyup)="
            checkPasswordMatch(
              signUpFormGroup.controls['password'].value,
              signUpFormGroup.controls['confirmPassword'].value
            )
          "
        />
        <mat-error
          *ngIf="
            signUpFormGroup.controls['confirmPassword'].hasError('minlength') &&
            !signUpFormGroup.controls['confirmPassword'].hasError('required')
          "
        >
          Parola trebuie să contina minim 8 caractere
        </mat-error>
        <mat-error
          *ngIf="
            signUpFormGroup.controls['confirmPassword'].hasError('required')
          "
        >
          Parola de confirmare este <strong>obligatorie</strong>
        </mat-error>
        <mat-error
          *ngIf="
            signUpFormGroup.controls['confirmPassword'].hasError(
              'passwordDontMatch'
            ) &&
            !signUpFormGroup.controls['confirmPassword'].hasError('required')
          "
        >
          Parola de confirmare nu se potriveste cu parola
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-footer col-12">
      <div class="mb-3" *ngIf="errorMessage$ | async as errorMessage">
        <mat-error>
          {{ errorMessage }}
        </mat-error>
      </div>
      <div class="form-footer-checkbox">
        <mat-checkbox
          color="primary"
          [checked]="termsAndConditions"
          (change)="termsAndConditions = !termsAndConditions"
          ><small
            >Am citit si sunt de acord cu
            <a href="https://www.kaapo.fit/termeni-si-conditii" target="_blank"
              >Termenii si conditiile</a
            >,
            <a href="https://www.kaapo.fit/cookies" target="_blank"
              >Politica cookie-uri</a
            >
            si cu
            <a href="https://www.kaapo.fit/prelucrarea-datelor" target="_blank"
              >Prelucrarea datelor</a
            >.
          </small>
        </mat-checkbox>
      </div>

      <button
        mat-button
        [class.disabled]="!signUpFormGroup.valid || !termsAndConditions"
      >
        Creaza cont
      </button>
    </div>
  </form>
</app-auth-container>
