<nav>
  <div class="header-wrap container">
    <div class="header-profile-container">
      <app-header-profile *ngIf="isAuthenticated$ | async"></app-header-profile>
    </div>

    <div class="header-brand" routerLink="/">
      <mat-icon
        aria-hidden="false"
        class="icon"
        svgIcon="kaapo-fit-logo"
      ></mat-icon>
    </div>

    <div class="header-links">
      <ul>
        <!--        <li class="notification-box">-->
        <!--          <span *ngIf="hasNotifications | async"></span>-->
        <!--          <mat-icon-->
        <!--            aria-hidden="false"-->
        <!--            class="icon"-->
        <!--            svgIcon="notification"-->
        <!--            matBadge="15"-->
        <!--            matBadgeColor="warn"-->
        <!--          ></mat-icon>-->
        <!--        </li>-->
        <li>
          <mat-icon
            class="icon"
            aria-hidden="false"
            [matMenuTriggerFor]="appMenu"
            aria-label="Icon button for menu"
            >dehaze
          </mat-icon>
        </li>
      </ul>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>
            <mat-icon aria-hidden="false" class="icon" svgIcon="notification">
              <span *ngIf="hasNotifications | async"></span
            ></mat-icon>
            <span>Notifications</span>
          </button>
          <button mat-menu-item>
            <mat-icon>storefront</mat-icon>
            <span>Shop</span>
          </button>
          <button mat-menu-item>
            <mat-icon>feed</mat-icon>
            <span>Blog</span>
          </button>
          <button mat-menu-item (click)="onLogout($event)">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</nav>
