nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--primary);
  height: 100%;
}

.header-wrap {
  width: 100%;
  max-width: var(--bp-xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--white);
    transition: var(--transition);

    &:hover {
      color: var(--primary);
    }
  }
}

.header-profile-container {
  width: 100%;
}

.header-brand {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  mat-icon {
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 141px;
    max-height: 25.55px;
  }
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  ul {
    display: flex;

    .notification-box {
      position: relative;

      span {
        display: block;
        background-color: var(--primary);
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100%;
      }
    }

    li {
      display: flex;
      align-items: center;
    }

    li:nth-child(2) {
      margin-left: 1rem;
    }

    .mat-icon {
      fill: var(--soft);
      transition: var(--transition);
      color: var(--soft);
    }

    li:hover {
      cursor: pointer;

      .mat-icon {
        fill: var(--primary);
        color: var(--primary);
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  background: var(--background-color);

  .mat-menu-item {
    color: var(--soft);
    transition: var(--transition);

    .mat-icon {
      color: var(--gray);
      transition: var(--transition);
    }

    &:hover {
      color: var(--white);

      .mat-icon {
        color: var(--primary);
      }
    }
  }
}
