<nav>
  <div class="header-wrap container">
<!--    <div class="header-profile-container">-->
<!--      <app-header-profile *ngIf="isAuthenticated$ | async"></app-header-profile>-->
<!--    </div>-->

    <div class="header-brand" routerLink="/">
      <mat-icon
        aria-hidden="false"
        class="icon"
        svgIcon="kaapo-fit-logo"
      ></mat-icon>
    </div>

    <div class="header-links">
      <ul>
<!--        <li class="notification-box">-->
<!--          <span *ngIf="hasNotifications | async"></span>-->
<!--          <mat-icon-->
<!--            aria-hidden="false"-->
<!--            class="icon"-->
<!--            matBadge="15"-->
<!--            matBadgeColor="warn"-->
<!--            svgIcon="notification"-->
<!--          ></mat-icon>-->
<!--        </li>-->

<!--        <li>-->
<!--          <mat-icon (click)="onLogout($event)"-->
<!--                    aria-label="logout"-->
<!--                    class="icon"-->
<!--          >logout-->
<!--          </mat-icon-->
<!--          >-->
<!--        </li>-->
        <li>
          <mat-icon
            [matMenuTriggerFor]="appMenu"
            aria-hidden="false"
            aria-label="Icon button for menu"
            class="icon"
          >dehaze
          </mat-icon>
        </li>
      </ul>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>
            <app-header-profile *ngIf="isAuthenticated$ | async"></app-header-profile>
            <span>Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon aria-hidden="false" class="icon" svgIcon="notification"
                      matBadge="15"
                      matBadgeColor="warn">
              <span *ngIf="hasNotifications | async"></span
              ></mat-icon>
            <span>Notifications</span>
          </button>
          <button mat-menu-item>
            <mat-icon>storefront</mat-icon>
            <span>Shop</span>
          </button>
          <button mat-menu-item>
            <mat-icon>feed</mat-icon>
            <span>Blog</span>
          </button>
          <button (click)="onLogout($event)" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</nav>
