<ng-container *ngIf="clientProfileDetails$ | async as clientProfileDetails">
  <ul
    class="profile-details-text"
    *ngIf="clientProfileDetails.currentPhysicalDetails"
  >
    <ng-container>
      <li>
        <p>
          <span>Birth:</span> {{ clientProfileDetails.birth.month }}/{{
            clientProfileDetails.birth.year
          }}
        </p>
      </li>
      <li>
        <p>
          <span>Weight:</span>
          {{ clientProfileDetails.currentPhysicalDetails.weight }} Kg
        </p>
      </li>
      <li>
        <p>
          <span>Neck:</span>
          {{ clientProfileDetails.currentPhysicalDetails.neck }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Shoulders:</span>
          {{ clientProfileDetails.currentPhysicalDetails.shoulders }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Chest:</span>
          {{ clientProfileDetails.currentPhysicalDetails.chest }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Arm left:</span>
          {{ clientProfileDetails.currentPhysicalDetails.armLeft }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Arm right:</span>
          {{ clientProfileDetails.currentPhysicalDetails.armRight }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Waist:</span>
          {{ clientProfileDetails.currentPhysicalDetails.waist }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Hip:</span>
          {{ clientProfileDetails.currentPhysicalDetails.hip }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Ass:</span>
          {{ clientProfileDetails.currentPhysicalDetails.ass }} cm
        </p>
      </li>
      <li>
        <p>
          <span>Thigh:</span>
          {{ clientProfileDetails.currentPhysicalDetails.thigh }} cm
        </p>
      </li>
    </ng-container>
  </ul>
</ng-container>
