<ul class="profile-details-text">
  <li>
    <p>
      <span>Greutate:</span>
      {{ physicalDetails.weight }} kg
    </p>
  </li>
  <li>
    <p>
      <span>Cap:</span>
      {{ physicalDetails.head }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Umeri:</span>
      {{ physicalDetails.shoulders }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Piept:</span>
      {{ physicalDetails.chest }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Biceps stang:</span>
      {{ physicalDetails.armLeft }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Biceps drept:</span>
      {{ physicalDetails.armRight }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Talie:</span>
      {{ physicalDetails.waist }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Sold inalt:</span>
      {{ physicalDetails.highHip }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Sold:</span>
      {{ physicalDetails.hip }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Sold-Genunchi:</span>
      {{ physicalDetails.waistToKnee }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Genunchi:</span>
      {{ physicalDetails.knee }} cm
    </p>
  </li>
  <li>
    <p>
      <span>Glezne:</span>
      {{ physicalDetails.ankle }} cm
    </p>
  </li>
</ul>
