<ul class="profile-details-text">
  <li>
    <p>
      <span>Greutate:</span>
      {{ physicalDetails.weight }}
    </p>
  </li>
  <li>
    <p>
      <span>Cap:</span>
      {{ physicalDetails.head }}
    </p>
  </li>
  <li>
    <p>
      <span>Umeri:</span>
      {{ physicalDetails.shoulders }}
    </p>
  </li>
  <li>
    <p>
      <span>Piept:</span>
      {{ physicalDetails.chest }}
    </p>
  </li>
  <li>
    <p>
      <span>Biceps stang:</span>
      {{ physicalDetails.armLeft }}
    </p>
  </li>
  <li>
    <p>
      <span>Biceps drept:</span>
      {{ physicalDetails.armRight }}
    </p>
  </li>
  <li>
    <p>
      <span>Talie:</span>
      {{ physicalDetails.waist }}
    </p>
  </li>
  <li>
    <p>
      <span>Sold inalt:</span>
      {{ physicalDetails.highHip }}
    </p>
  </li>
  <li>
    <p>
      <span>Sold:</span>
      {{ physicalDetails.hip }}
    </p>
  </li>
  <li>
    <p>
      <span>Sold-Genunchi:</span>
      {{ physicalDetails.waistToKnee }}
    </p>
  </li>
  <li>
    <p>
      <span>Genunchi:</span>
      {{ physicalDetails.knee }}
    </p>
  </li>
  <li>
    <p>
      <span>Glezne:</span>
      {{ physicalDetails.ankle }}
    </p>
  </li>
</ul>
