.profile-details-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  li {
    width: calc(50%);
    height: 43px;
    border-left: 1px solid var(--primary);
    padding: 10px 0 10px 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    &:nth-child(even) {
      width: calc(50% - 1rem);
      margin-left: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0;
      text-align: left;
    }

    span {
      color: var(--soft);
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .profile-details-text {
    padding-left: 1rem;
    li {
      width: 33%;

      &:nth-child(even) {
        width: 33%;
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .profile-details-text {
    li {
      width: 50%;

      &:nth-child(even) {
        width: 50%;
        margin-left: 0;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
