<!-- Client Profile Details Banner -->
<physical-details-banner
  [currentPhysicalDetails]="currentPhysicalDetails"
></physical-details-banner>

<section *ngIf="currentPhysicalDetails">
  <div class="px-md-3 mt-3 mt-md-0 mb-3">
    <h3>Masuratori</h3>
    <p>
      Toate informatiile de mai jos sunt in centimetrii doar greutatea este in
      kilograme.
    </p>
  </div>
  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Prezent">
      <div class="row justify-content-center my-4 mb-md-0">
        <!-- Client Profile Details Text-->
        <div class="col-xl-7 mb-4 mb-xl-0">
          <app-user-profile-details
            [physicalDetails]="currentPhysicalDetails"
          ></app-user-profile-details>
        </div>
        <!-- Client Profile Details Images-->
        <div class="col-md-8 col-xl-5">
          <app-user-profile-images
            [clientPhysicalDetails]="currentPhysicalDetails"
          ></app-user-profile-images>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Istoric">
      <div class="my-4 mb-md-0">
        <user-profile-history></user-profile-history>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
