<app-layout>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="app-title">Nutritionist</h1>
      </div>
    </div>
    <form
      (ngSubmit)="onNutritionistSubmit()"
      class="row form justify-content-center"
      [formGroup]="nutritionistFormGroup"
    >
      <div class="col-lg-8">
        <!--   Details     -->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Prenume</mat-label>
              <input
                matInput
                placeholder="Jon"
                name="firstname"
                formControlName="firstname"
              />
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['firstname'].hasError(
                    'required'
                  )
                "
              >
                Prenumele este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Nume</mat-label>
              <input
                type="text"
                matInput
                placeholder="Doe"
                name="lastname"
                formControlName="lastname"
              />
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['lastname'].hasError(
                    'required'
                  )
                "
              >
                Numele este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Descriere</mat-label>
              <textarea
                matInput
                placeholder="About you and your experience"
                name="description"
                formControlName="description"
                rows="5"
              >
              </textarea>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['description'].hasError(
                    'required'
                  )
                "
              >
                Descrierea este <strong>obligatiorie</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['description'].hasError(
                    'minlength'
                  )
                "
              >
                Descrierea trebuie sa contina
                <strong>minim 100 caractere.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['description'].hasError(
                    'maxlength'
                  )
                "
              >
                Descrierea trebuie sa contina
                <strong>maxim 400 caractere.</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Experienta</mat-label>
              <input
                type="text"
                matInput
                placeholder="Experience in years"
                aria-label="20"
                name="experience"
                formControlName="experience"
                [matAutocomplete]="experience"
              />
              <mat-autocomplete #experience="matAutocomplete">
                <mat-option
                  *ngFor="let option of trainerExperience"
                  [value]="option"
                  >{{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['experience'].hasError(
                    'required'
                  )
                "
              >
                Experienta este <strong>obligatorie</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Data nasterii</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birth"
                name="birth"
                (click)="picker.open()"
              />
              <!--              <mat-datepicker-toggle-->
              <!--                matSuffix-->
              <!--                [for]="picker"-->
              <!--              ></mat-datepicker-toggle>-->
              <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['birth'].hasError('required')
                "
              >
                Data nasterii este <strong>obligatorie</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Gen</mat-label>

              <mat-select formControlName="gender">
                <mat-option value="male">Masculin</mat-option>
                <mat-option value="female">Feminin</mat-option>
                <mat-option value="other">Altu</mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['gender'].hasError('required')
                "
              >
                Genul este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Tara</mat-label>
              <input
                type="text"
                matInput
                formControlName="country"
                placeholder="Romania"
                aria-label="Country"
                [matAutocomplete]="countries"
                (ngModelChange)="onDisableInput('state', 'country')"
              />
              <mat-autocomplete #countries="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCountries | async"
                  [value]="option"
                  >{{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['country'].hasError('required')
                "
              >
                Tara este <strong>obligatorie</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['country'].hasError(
                    'isNotCountryFromList'
                  ) &&
                  !nutritionistFormGroup.controls['country'].hasError(
                    'required'
                  )
                "
              >
                Alege o tara din lista
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Judet</mat-label>
              <input
                type="text"
                matInput
                formControlName="state"
                placeholder="Vrancea"
                aria-label="State"
                [matAutocomplete]="states"
                (ngModelChange)="onDisableInput('city', 'state')"
              />
              <mat-autocomplete #states="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredStates | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['country'].hasError('required')
                "
              >
                Judetul este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['state'].hasError(
                    'isNotStateFromList'
                  ) &&
                  !nutritionistFormGroup.controls['state'].hasError('required')
                "
              >
                Alege un judet din lista
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Oras / Sector</mat-label>
              <input
                type="text"
                matInput
                formControlName="city"
                placeholder="Focsani"
                aria-label="City"
                [matAutocomplete]="cities"
              />
              <mat-autocomplete #cities="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCities | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['city'].hasError('required')
                "
              >
                Orasul este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['city'].hasError(
                    'isNotCityFromList'
                  ) &&
                  !nutritionistFormGroup.controls['city'].hasError('required')
                "
              >
                Alege un oras/sector din lista.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-6">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Numar Telefon</mat-label>
              <!--              <ngx-mat-intl-tel-input-->
              <!--                [preferredCountries]="['ro']"-->
              <!--                [required]="true"-->
              <!--                formControlName="phone"-->
              <!--                [enablePlaceholder]="true"-->
              <!--                [enableSearch]="true"-->
              <!--                name="phone"-->
              <!--                class="phone-search-control"-->
              <!--              >-->
              <!--              </ngx-mat-intl-tel-input>-->

              <input
                matInput
                placeholder="0770121945"
                name="phone"
                formControlName="phone"
              />
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['phone'].hasError('required')
                "
              >
                Numarul de telefon este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['phone'].errors &&
                  !nutritionistFormGroup.controls['phone'].hasError('required')
                "
              >
                Numarul de telefon trebuie sa contina 10 cifre
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Website</mat-label>
              <input
                matInput
                placeholder="https://website.ro/"
                name="website"
                formControlName="website"
              />
              <mat-error
                *ngIf="
                  nutritionistFormGroup.controls['website'].hasError(
                    'isNotHttp'
                  )
                "
              >
                Website-ul trebuie sa inceapa
                <strong>http:// sau https://</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Facebook</mat-label>
              <input
                matInput
                placeholder="nume de utilizator"
                name="facebook"
                formControlName="facebook"
              />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Twitter</mat-label>
              <input
                matInput
                placeholder="nume de utilizator"
                name="twitter"
                formControlName="twitter"
              />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Instagram</mat-label>
              <input
                matInput
                placeholder="nume de utilizator"
                name="instagram"
                formControlName="instagram"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-footer col-12 col-md-5 mt-4">
        <mat-error *ngIf="errorMessage$ | async as errorMessage">
          {{ errorMessage }}
        </mat-error>
        <button
          mat-button
          [class.disabled]="!nutritionistFormGroup.valid"
          type="submit"
        >
          Save Profile
        </button>
      </div>
    </form>
  </div>
</app-layout>
