<app-layout>
  <div class="auth-container">
    <div class="auth-img">
      <div class="auth-img-overlay"></div>
      <img alt="{{ authImg }}" src="assets/images/auth/{{ authImg }}.jpg" />
    </div>
    <div class="auth-body">
      <div class="auth-body-box">
        <ng-container
          *ngIf="authImg === authType.ResetPassword; else loginOrSignUp"
        >
          <h1>Resetare parola</h1>
        </ng-container>
        <ng-template #loginOrSignUp>
          <h1>
            {{ authImg === authType.Login ? 'Bine ai revenit' : 'Bun venit' }}
          </h1>
        </ng-template>
        <ul class="auth-tabs">
          <li [class.active]="authImg === authType.Login">
            <a routerLink="/autentificare/cont">Autentificare</a>
          </li>
          <li [class.active]="authImg === authType.SignUp">
            <a routerLink="/autentificare/inregistrare">Inregistrare</a>
          </li>
        </ul>
        <div class="container">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</app-layout>
