<app-container>
  <div class="auth-container">
    <div class="auth-img">
      <div class="auth-img-overlay"></div>
      <img alt="{{authImg}}" src="assets/images/auth/{{authImg}}.jpg">
    </div>
    <div class="auth-body">
      <div>
        <h1>{{authImg === authType.Login ? 'Welcome back' : 'Hello newbie'}}</h1>
        <ul class="auth-tabs">
          <li [class.active]="authImg === authType.Login">
            <a routerLink="/auth/login">Login</a>
          </li>
          <li [class.active]="authImg === authType.SignUp">
            <a routerLink="/auth/sign-up">Sign Up</a>
          </li>
        </ul>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</app-container>
