<section
  class="profile-container"
  *ngIf="nutritionistProfileDetails$ | async as nutritionistProfileDetails"
>
  <div class="container">
    <div class="row mt-3 mt-md-4">
      <div class="col-lg-9">
        <!--   Profile Header-->
        <div class="row">
          <div class="col-12">
            <!-- Profile Picture and Name-->
            <app-user-profile
              [firstName]="nutritionistProfileDetails.firstName"
              [lastName]="nutritionistProfileDetails.lastName"
              [name]="null"
              [state]="nutritionistProfileDetails.state"
              [city]="nutritionistProfileDetails.city"
              [status]="nutritionistProfileDetails.status"
            ></app-user-profile>
          </div>
        </div>
        <pro-details
          [experience]="nutritionistProfileDetails.experience"
          [certificate]="nutritionistProfileDetails.certificate"
          [description]="nutritionistProfileDetails.description"
          [contact]="nutritionistProfileDetails.contact"
        ></pro-details>

        <user-profile-details-container
          [currentPhysicalDetails]="
            nutritionistProfileDetails?.currentPhysicalDetails
          "
        ></user-profile-details-container>
      </div>
      <div class="col-lg-3">
        <app-user-profile-sidebar></app-user-profile-sidebar>
      </div>
    </div>
  </div>
</section>
