.app-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.app-header {
  height: 100%;
  min-height: 57px;
  max-height: 57px;
}

main {
  height: calc(100vh - 134px);
  width: 100%;
  overflow: auto;

  &.isAuth {
    height: 100vh;
  }
}

.app-tabs {
  height: 100%;
  width: 100%;
  min-height: 77px;
  max-height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;

  app-tabs {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main {
    height: calc(100vh - 177px);
    width: 100%;
    &.isAuth {
      height: calc(100vh - 177px);
    }
  }

  .app-tabs {
    min-height: 120px;
    max-height: 120px;
  }
}
