<app-layout>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="app-title">Gym profile</h1>
      </div>
    </div>
    <form
      (ngSubmit)="onGymSubmit()"
      class="row form justify-content-center"
      [formGroup]="gymFormGroup"
    >
      <div class="col-lg-8">
        <!--   Details     -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Nume sala</mat-label>
              <input
                matInput
                placeholder="Kaapo Gym"
                name="name"
                formControlName="name"
              />
              <mat-error
                *ngIf="gymFormGroup.controls['name'].hasError('required')"
              >
                Numele salii este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-6">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Tipul salii</mat-label>
              <input
                type="text"
                matInput
                placeholder="Alege un tip"
                aria-label="Calisthenic"
                name="gymType"
                formControlName="gymType"
                [matAutocomplete]="gymType"
              />
              <mat-autocomplete #gymType="matAutocomplete">
                <mat-option *ngFor="let option of gymTypes" [value]="option"
                  >{{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="gymFormGroup.controls['gymType'].hasError('required')"
              >
                Tipul salii este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Descriere</mat-label>
              <textarea
                matInput
                placeholder="Despre sala"
                name="description"
                formControlName="description"
                rows="5"
              >
              </textarea>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['description'].hasError('required')
                "
              >
                Descrierea este <strong>obligatorie</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['description'].hasError('minlength')
                "
              >
                Descrierea trebuie sa contina
                <strong>minimum 100 caractere.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['description'].hasError('maxlength')
                "
              >
                Descrierea trebuie sa contina
                <strong>minimum 400 caractere.</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Tara</mat-label>
              <input
                type="text"
                matInput
                formControlName="country"
                placeholder="Romania"
                aria-label="Country"
                [matAutocomplete]="countries"
                (ngModelChange)="onDisableInput('state', 'country')"
              />
              <mat-autocomplete #countries="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCountries | async"
                  [value]="option"
                  >{{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="gymFormGroup.controls['country'].hasError('required')"
              >
                Tara este <strong>obligatorie</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['country'].hasError(
                    'isNotCountryFromList'
                  ) && !gymFormGroup.controls['country'].hasError('required')
                "
              >
                Alege din lista
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Judet</mat-label>
              <input
                type="text"
                matInput
                formControlName="state"
                placeholder="Vrancea"
                aria-label="State"
                [matAutocomplete]="states"
                (ngModelChange)="onDisableInput('city', 'state')"
              />
              <mat-autocomplete #states="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredStates | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="gymFormGroup.controls['country'].hasError('required')"
              >
                Judetul este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['state'].hasError(
                    'isNotStateFromList'
                  ) && !gymFormGroup.controls['state'].hasError('required')
                "
              >
                Alege din lista
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Oras / Sector</mat-label>
              <input
                type="text"
                matInput
                formControlName="city"
                placeholder="Focsani"
                aria-label="City"
                [matAutocomplete]="cities"
              />
              <mat-autocomplete #cities="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCities | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="gymFormGroup.controls['city'].hasError('required')"
              >
                Orasul / Sectorul este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Strada</mat-label>
              <input
                matInput
                placeholder="Longinescu"
                name="street"
                formControlName="street"
              />
              <mat-error
                *ngIf="gymFormGroup.controls['street'].hasError('required')"
              >
                Strada este <strong>obligatorie</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Numar strada</mat-label>
              <input
                matInput
                placeholder="12"
                name="strNo"
                formControlName="strNo"
              />
              <mat-error
                *ngIf="gymFormGroup.controls['strNo'].hasError('required')"
              >
                Numarul strazii este <strong>oblgiatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-6">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Telefon</mat-label>
              <!--              <ngx-mat-intl-tel-input-->
              <!--                [preferredCountries]="['ro']"-->
              <!--                [required]="true"-->
              <!--                formControlName="phone"-->
              <!--                [enablePlaceholder]="true"-->
              <!--                [enableSearch]="true"-->
              <!--                name="phone"-->
              <!--                class="phone-search-control"-->
              <!--              >-->
              <!--              </ngx-mat-intl-tel-input>-->

              <input
                matInput
                placeholder="0770121945"
                name="phone"
                formControlName="phone"
              />
              <mat-error
                *ngIf="gymFormGroup.controls['phone'].hasError('required')"
              >
                Numarul de telefon este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  gymFormGroup.controls['phone'].errors &&
                  !gymFormGroup.controls['phone'].hasError('required')
                "
              >
                Numarul de telefon trebuie sa contina 10 caractere
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Website</mat-label>
              <input
                matInput
                placeholder="Website link"
                name="website"
                formControlName="website"
              />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Facebook</mat-label>
              <input
                matInput
                placeholder="Nume de utilizator"
                name="facebook"
                formControlName="facebook"
              />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Twitter</mat-label>
              <input
                matInput
                placeholder="Nume de utilizator"
                name="twitter"
                formControlName="twitter"
              />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Instagram</mat-label>
              <input
                matInput
                placeholder="Nume de utilizator"
                name="instagram"
                formControlName="instagram"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-footer col-12 col-md-5 mt-4">
        <mat-error *ngIf="errorMessage$ | async as errorMessage">
          {{ errorMessage }}
        </mat-error>
        <button mat-button [class.disabled]="!gymFormGroup.valid" type="submit">
          Salvare
        </button>
      </div>
    </form>
  </div>
</app-layout>
