<app-layout>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="app-title">Selectare profil</h1>

        <p class="app-description">
          Selecteaza profilul care te reprezinta din cele 4 tipuri de profiluri
          de mai jos.
        </p>
      </div>
      <div class="col-12">
        <div class="chose-profile-container">
          <ul class="chose-profile-list">
            <li
              *ngFor="let profile of profiles"
              [routerLink]="profile.link"
              [queryParams]="{ mode: profile.mode }"
              queryParamsHandling="merge"
            >
              <div class="chose-profile-item">
                <div class="chose-profile-icon-box">
                  <mat-icon
                    aria-hidden="true"
                    class="chose-profile-icon"
                    [svgIcon]="profile.icon"
                  ></mat-icon>
                </div>
                <p>{{ profile.name }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-layout>
