<app-auth-container [authImg]="authType.Login">
  <form (ngSubmit)="onSubmit()" class="form row" [formGroup]="loginFormGroup">
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. jhon@mail.com"
          name="email"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            loginFormGroup.controls['email'].hasError('email') &&
            !loginFormGroup.controls['email'].hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="loginFormGroup.controls['email'].hasError('required')"
        >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            loginFormGroup.controls['password'].hasError('minlength') &&
            !loginFormGroup.controls['password'].hasError('required')
          "
        >
          Password need to contain minimum 8 characters
        </mat-error>
        <mat-error
          *ngIf="loginFormGroup.controls['password'].hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-footer col-12">
      <mat-error *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage }}
      </mat-error>
      <a routerLink="/auth/reset-password" mat-button class="reset-link"
        >Reset Password</a
      >
      <button mat-button [class.disabled]="!loginFormGroup.valid" type="submit">
        Login
      </button>
    </div>
  </form>
</app-auth-container>
