<div class="row">
  <div class="col-12">
    <div class="pro-details-box" *ngIf="experience || type || certificate">
      <div class="pro-details-item" *ngIf="experience">
        <h6>Experienta</h6>
        <hr />
        <h5>{{ experience }} ani</h5>
      </div>
      <div class="pro-details-item" *ngIf="type">
        <h6>Tip Antrenor</h6>
        <hr />
        <h5>{{ type }}</h5>
      </div>
      <div class="pro-details-item" *ngIf="certificate">
        <h6>Certificat</h6>
        <hr />
        <h5>{{ certificate ? 'Da' : 'Nu' }}</h5>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="pro-description-box">
      <h3>Descriere</h3>
      <p>
        {{ description }}
      </p>
    </div>
  </div>

  <div class="col-12">
    <wide-ads-banner></wide-ads-banner>
  </div>

  <div class="col-12">
    <div class="pro-description-box">
      <reviews [reviews$]="reviews$"></reviews>
    </div>
  </div>
  <div class="col-12">
    <div class="pro-contact-box">
      <h3>Contact</h3>
      <ul class="pro-contact-details-text">
        <li>
          <p>
            <span>Telefon:</span>
            <a [href]="'tel:' + contact.phone"> {{ contact.phone }}</a>
          </p>
        </li>
        <li>
          <p>
            <span>Email:</span>
            <a [href]="'mailto:' + contact.email"> {{ contact.email }}</a>
          </p>
        </li>
        <li *ngIf="contact.website">
          <p>
            <span>Website:</span>
            <a [href]="contact.website" target="_blank">
              {{ contact.website }}
            </a>
          </p>
        </li>

        <li *ngIf="contact.facebook">
          <p>
            <span>Facebook:</span>
            <a [href]="contact.facebook" target="_blank">
              {{ contact.facebook }}
            </a>
          </p>
        </li>

        <li *ngIf="contact.instagram">
          <p>
            <span>Instagram:</span>
            <a [href]="contact.instagram" target="_blank">
              {{ contact.instagram }}</a
            >
          </p>
        </li>

        <li *ngIf="contact.twitter">
          <p>
            <span>Twitter:</span>
            <a [href]="contact.twitter" target="_blank">
              {{ contact.twitter }}
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
