<app-layout>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="app-title">Profil de client</h1>
        <p>
          Completeaza campurile de mai jos pentru a finaliza profilul de client
          si a putea incepe sa-ti adaugi istoricul tau in sport.
        </p>
      </div>
    </div>
    <form
      (ngSubmit)="onClientSubmit()"
      class="row form justify-content-center mt-3"
      [formGroup]="clientFormGroup"
    >
      <div class="col-lg-8">
        <!--   Details     -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <mat-form-field class="form-control col-md-6" appearance="outline">
              <mat-label>Prenume</mat-label>
              <input
                matInput
                placeholder="Jon"
                name="firstname"
                formControlName="firstname"
              />
              <mat-error
                *ngIf="
                  clientFormGroup.controls['firstname'].hasError('required')
                "
              >
                Prenumele este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-6">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Nume</mat-label>
              <input
                type="text"
                matInput
                placeholder="Doe"
                name="lastname"
                formControlName="lastname"
              />
              <mat-error
                *ngIf="
                  clientFormGroup.controls['lastname'].hasError('required')
                "
              >
                Numele este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Data nasterii</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birth"
                name="birth"
                (click)="picker.open()"
              />
              <!--              <mat-datepicker-toggle-->
              <!--                matSuffix-->
              <!--                [for]="picker"-->
              <!--              ></mat-datepicker-toggle>-->
              <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error
                *ngIf="clientFormGroup.controls['birth'].hasError('required')"
              >
                Data nasterii este <strong>obligatorie</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Gen</mat-label>

              <mat-select formControlName="gender">
                <mat-option value="male">Barbat</mat-option>
                <mat-option value="female">Femeie</mat-option>
                <mat-option value="other">Alt gen</mat-option>
              </mat-select>
              <mat-error
                *ngIf="clientFormGroup.controls['gender'].hasError('required')"
              >
                Gen-ul este <strong>obligatoriu</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Telefon</mat-label>
              <!--              <ngx-mat-intl-tel-input-->
              <!--                [required]="true"-->
              <!--                formControlName="phone"-->
              <!--                [enablePlaceholder]="true"-->
              <!--                [enableSearch]="true"-->
              <!--                name="phone"-->
              <!--                class="phone-search-control"-->
              <!--              >-->
              <!--              </ngx-mat-intl-tel-input>-->
              <input
                matInput
                placeholder="0770121945"
                name="phone"
                formControlName="phone"
              />
              <mat-error
                *ngIf="clientFormGroup.controls['phone'].hasError('required')"
              >
                Numarul de telefon este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  clientFormGroup.controls['phone'].errors &&
                  !clientFormGroup.controls['phone'].hasError('required')
                "
              >
                Numarul de telefon trebuie sa contina 10 cifre
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Tara</mat-label>
              <input
                type="text"
                matInput
                formControlName="country"
                placeholder="Pick one"
                aria-label="Country"
                [matAutocomplete]="countries"
                (ngModelChange)="onDisableInput('state', 'country')"
              />
              <mat-autocomplete #countries="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCountries | async"
                  [value]="option"
                  >{{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="clientFormGroup.controls['country'].hasError('required')"
              >
                Tara este <strong>obligatorie</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  clientFormGroup.controls['country'].hasError(
                    'isNotCountryFromList'
                  ) && !clientFormGroup.controls['country'].hasError('required')
                "
              >
                Alege o tara din lista.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Judet</mat-label>
              <input
                type="text"
                matInput
                formControlName="state"
                placeholder="Pick one"
                aria-label="State"
                [matAutocomplete]="states"
                (ngModelChange)="onDisableInput('city', 'state')"
              />
              <mat-autocomplete #states="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredStates | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="clientFormGroup.controls['country'].hasError('required')"
              >
                Judetul este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  clientFormGroup.controls['state'].hasError(
                    'isNotStateFromList'
                  ) && !clientFormGroup.controls['state'].hasError('required')
                "
              >
                Alege un judet din lista.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4">
            <mat-form-field class="form-control" appearance="outline">
              <mat-label>Oras / Sector</mat-label>
              <input
                type="text"
                matInput
                formControlName="city"
                placeholder="Pick one"
                aria-label="City"
                [matAutocomplete]="cities"
              />
              <mat-autocomplete #cities="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCities | async"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
              <mat-error
                *ngIf="clientFormGroup.controls['city'].hasError('required')"
              >
                Orasul este <strong>obligatoriu</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  clientFormGroup.controls['city'].hasError(
                    'isNotCityFromList'
                  ) && !clientFormGroup.controls['city'].hasError('required')
                "
              >
                Alege un oras/sector din lista.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-footer col-12 col-md-5">
        <ng-container *ngIf="errorMessage$ | async as errorMessage">
          <div [class.mt-3]="errorMessage">
            <mat-error>
              {{ errorMessage }}
            </mat-error>
          </div>
        </ng-container>
        <button
          mat-button
          [class.disabled]="!clientFormGroup.valid"
          type="submit"
        >
          Salvare
        </button>
      </div>
    </form>
  </div>
</app-layout>
