<ng-container
  *ngIf="
    historyPhysicalDetails$ | async as historyPhysicalDetails;
    else DontHaveHistory
  "
>
  <mat-accordion class="user-profile-history-accordion">
    <mat-expansion-panel
      *ngFor="let physicalDetails of historyPhysicalDetails; index as i"
      [expanded]="step === i"
      (opened)="setStep(i)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ physicalDetails.date.month }} / {{ physicalDetails.date.year }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row my-4 mb-md-0">
        <!-- Client Profile Details Text-->
        <div class="col-lg-7 mb-4 mb-md-0">
          <app-user-profile-details
            [physicalDetails]="physicalDetails"
            [historyDetails]="true"
          ></app-user-profile-details>
        </div>
        <!-- Client Profile Details Images-->
        <div class="col-lg-5">
          <app-user-profile-images
            [clientPhysicalDetails]="physicalDetails"
          ></app-user-profile-images>
        </div>
      </div>

      <mat-action-row class="justify-content-center">
        <button
          mat-fab
          color="primary"
          aria-label="Inapoi"
          (click)="prevStep()"
          *ngIf="step > 0"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          aria-label="Inainte"
          (click)="nextStep()"
          *ngIf="historyPhysicalDetails.length - 1 > i"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
<ng-template #DontHaveHistory>
  <div class="user-profile-no-history">
    <p>Nu detii un istoric</p>
  </div>
</ng-template>
