// ******************
// Form Start
// ******************

::ng-deep .form {
  ::placeholder {
    color: var(--gray);
  }

  .form-footer {
    text-align: center;
  }

  .reset-link {
    color: var(--primary);
    transition: var(--transition);

    &:hover {
      color: var(--primary-shade);
    }
  }

  button {
    width: 100%;
    background-color: var(--primary);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary-shade);
    }

    &.disabled {
      background-color: var(--gray);
    }
  }
}
::ng-deep .mat-form-field {
  width: 100%;
}
::ng-deep .mat-select-value {
  color: var(--white);
}

::ng-deep .mat-form-field-label {
  color: var(--soft);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: var(--dark-two);
}

// ******************
// Form End
// ******************
