// ******************
// Form Start
// ******************

::ng-deep .form {
  position: relative;

  ::placeholder,
  data-placeholder {
    color: var(--soft);
  }

  .form-footer {
    text-align: center;
  }

  .reset-link {
    color: var(--primary);
    transition: var(--transition);

    &:hover {
      color: var(--primary-shade);
    }
  }

  button {
    width: 100%;
    background-color: var(--primary);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary-shade);
    }

    &.disabled {
      background-color: var(--gray);
    }
  }
}

::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-select-value,
::ng-deep .mat-dialog-container {
  color: var(--white);

  ::placeholder,
  data-placeholder {
    color: var(--soft);
  }
}

::ng-deep .mat-form-field-label {
  color: var(--soft);
}

::ng-deep .mat-select-panel,
::ng-deep .mat-dialog-container {
  background-color: var(--dark-one);
}

::ng-deep .mat-option.mat-active {
  color: var(--white);
}

::ng-deep form .country-selector {
  background: transparent !important;
  color: var(--white) !important;
}

::ng-deep form .country-list-button {
  color: var(--white) !important;
}

::ng-deep .cdk-overlay-pane {
  max-height: 700px;
  top: 30%;
}

::ng-deep #mat-menu-panel-3 {
  max-height: 400px;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  max-width: 280px;
}

//::ng-deep #mat-menu-panel-0 {
//  padding-top: 45px;
//
//  input {
//    position: absolute;
//    top: 0;
//    z-index: 99;
//    width: 100%;
//  }
//}

::ng-deep .mat-hint {
  color: var(--soft);
}

::ng-deep .mat-datepicker-content,
::ng-deep .mat-autocomplete-panel {
  background-color: var(--dark-one);
  color: var(--white);
}

::ng-deep .mat-option {
  font-size: 1rem;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-outline,
::ng-deep .mat-input-element:disabled,
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-label {
  color: var(--gray);
}

::ng-deep .mat-option,
::ng-deep .mat-datepicker-content .mat-calendar-next-button,
::ng-deep .mat-datepicker-content .mat-calendar-previous-button,
::ng-deep .mat-calendar-table-header,
::ng-deep .mat-calendar-body-label,
::ng-deep .mat-calendar-body-cell-content {
  color: var(--white);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .country-list-button {
  color: var(--soft) !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: var(--dark-two);
}

// ******************
// Form End
// ******************

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  color: var(--primary);
}

::ng-deep .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
