<div class="mobile-profile-details-images" *ngIf="profileDetails">
  <swiper
    #swiper
    [watchSlidesProgress]="true"
    [config]="config"
    [virtual]="true"
    [effect]="'cards'"
    [navigation]="true"
    [grabCursor]="true"
    [breakpoints]="{
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10
      },
      '@0.75': {
        slidesPerView: 1,
        spaceBetween: 10
      }
    }"
  >
    <ng-container *ngFor="let image of profileDetails.gallery; index as i">
      <ng-template swiperSlide let-data>
        <div class="profile-details-image">
          <h3 class="profile-details-image-name">
            {{ image.perspective }}
          </h3>
          <div class="profile-details-image-overlay"></div>
          <img [src]="image.image.downloadURL" alt="" />
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</div>
