<div class="mobile-profile-details-images" *ngIf="clientPhysicalDetails">
  <swiper
    class="mySwiper2 swiper-v"
    [watchSlidesProgress]="true"
    [config]="config"
    [virtual]="true"
    [effect]="'cards'"
    [navigation]="true"
    [grabCursor]="true"
    [breakpoints]="{
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10
      },
      '@0.75': {
        slidesPerView: 1,
        spaceBetween: 10
      }
    }"
  >
    <ng-container *ngIf="clientPhysicalDetails.clientGalleryFront?.downloadURL">
      <ng-template swiperSlide>
        <div class="profile-details-image">
          <h3 class="profile-details-image-name">Fata</h3>
          <div class="profile-details-image-overlay"></div>
          <img
            [src]="clientPhysicalDetails.clientGalleryFront.downloadURL"
            alt="front image"
          />
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="clientPhysicalDetails.clientGallerySide?.downloadURL">
      <ng-template
        swiperSlide
        [ngIf]="clientPhysicalDetails.clientGallerySide?.downloadURL"
      >
        <div class="profile-details-image">
          <h3 class="profile-details-image-name">Dintr-o parte</h3>
          <div class="profile-details-image-overlay"></div>
          <img
            [src]="clientPhysicalDetails.clientGallerySide.downloadURL"
            alt="side image"
          />
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="clientPhysicalDetails.clientGalleryBack?.downloadURL">
      <ng-template
        swiperSlide
        [ngIf]="clientPhysicalDetails.clientGalleryBack?.downloadURL"
      >
        <div class="profile-details-image">
          <h3 class="profile-details-image-name">Spate</h3>
          <div class="profile-details-image-overlay"></div>
          <img
            [src]="clientPhysicalDetails.clientGalleryBack.downloadURL"
            alt="back image"
          />
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</div>
