<h4 mat-dialog-title>Add your physic details</h4>
<form class="row justify-content-center">
  <div class="col-12">
    <!--   Details     -->
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            matInput
            placeholder="Your weight in cm"
            name="weight"
            formControlName="weight"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['weight'].hasError('required')
            "
          >
            Weight is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Neck</mat-label>
          <input
            matInput
            placeholder="Your neck in cm"
            name="neck"
            formControlName="neck"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['neck'].hasError('required')
            "
          >
            Neck is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Shoulders</mat-label>
          <input
            matInput
            placeholder="Your shoulders in cm"
            name="shoulders"
            formControlName="shoulders"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['shoulders'].hasError(
                'required'
              )
            "
          >
            Shoulders is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Chest</mat-label>
          <input
            matInput
            placeholder="Your chest in cm"
            name="chest"
            formControlName="chest"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['chest'].hasError('required')
            "
          >
            Chest is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Arm Left</mat-label>
          <input
            matInput
            placeholder="Your left arm in cm"
            name="armLeft"
            formControlName="armLeft"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['armLeft'].hasError('required')
            "
          >
            Arm Left is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Arm Right</mat-label>
          <input
            matInput
            placeholder="Your right arm in cm"
            name="armRight"
            formControlName="armRight"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['armRight'].hasError('required')
            "
          >
            Arm Right is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Waist</mat-label>
          <input
            matInput
            placeholder="Your waist in cm"
            name="waist"
            formControlName="waist"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['waist'].hasError('required')
            "
          >
            Waist is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Hip</mat-label>
          <input
            matInput
            placeholder="Your hip in cm"
            name="hip"
            formControlName="hip"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['hip'].hasError('required')
            "
          >
            Hip is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Ass</mat-label>
          <input
            matInput
            placeholder="Your ass in cm"
            name="ass"
            formControlName="ass"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['ass'].hasError('required')
            "
          >
            Ass is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mt-3">
        <mat-form-field class="form-control col-md-6" appearance="outline">
          <mat-label>Thigh</mat-label>
          <input
            matInput
            placeholder="Your thigh in cm"
            name="thigh"
            formControlName="thigh"
          />
          <mat-error
            *ngIf="
              addMeasurementsFormGroup.controls['thigh'].hasError('required')
            "
          >
            Thigh is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-footer col-12 mt-4">
    <mat-error *ngIf="errorMessage$ | async as errorMessage">
      {{ errorMessage }}
    </mat-error>
    <button
      mat-button
      [class.disabled]="!addMeasurementsFormGroup.valid"
      type="submit"
    >
      Save Details
    </button>
  </div>
</form>
