<div
  class="profile"
  *ngIf="clientProfileDetails$ | async as clientProfileDetails"
>
  <div class="profile-picture-name">
    <div class="profile-picture-box">
      <div class="profile-picture-couture"></div>
      <div class="profile-picture">
        <img
          [src]="
            clientProfileDetails.profilePicture
              ? clientProfileDetails.profilePicture
              : sampleImgLink
          "
          alt="profile picture"
        />
      </div>
    </div>
    <div class="profile-name">
      <h3>
        <strong>{{ clientProfileDetails.firstName }}</strong>
        <br />
        {{ clientProfileDetails.lastName }}
      </h3>
      <div class="profile-status-detail">
        <div class="profile-icon-box">
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Icon for profile country"
          >
            map
          </mat-icon>
          <span
            >{{ clientProfileDetails.country }} /
            {{ clientProfileDetails.city }}</span
          >
        </div>
        <div class="profile-icon-box">
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Icon for profile status"
          >
            badge
          </mat-icon>
          <span>{{ clientProfileDetails.status }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
