.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.profile-picture-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-box {
  border: 2px solid var(--primary);
  border-radius: 100%;
  padding: 12px;
  position: relative;
  max-width: 104px;
  max-height: 104px;
  height: 100%;
}

.profile-picture {
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
  }
}

.profile-name {
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: var(--soft);
    margin: 0 1rem;

    strong {
      font-weight: 500;
      color: var(--white);
    }
  }
}

.profile-joined {
  border-left: 1px solid var(--gray);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 50px;

  small {
    font-size: 10px;
    color: var(--gray);
    display: block;
  }

  p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .profile-name {
    h3 {
      font-size: 24px;
      line-height: 34px;
    }
  }

  .profile-joined {
    height: 70px;

    small {
      font-size: 12px;
      color: var(--gray);
      margin-bottom: 5px;
      display: block;
    }

    p {
      font-size: 14px;
    }
  }
}
