<div class="profile" *ngIf="profile">
  <div class="profile-picture-name">
    <div class="profile-picture-box">
      <div class="profile-picture-couture"></div>
      <div class="profile-picture">
        <img
          [src]="
            profile.profilePicture ? profile.profilePicture : sampleImgLink
          "
          alt="profile picture"
        />
      </div>
    </div>
    <div class="profile-name">
      <h3>
        <strong *ngIf="profile.firstName">{{ profile.firstName }}</strong>
        <br />
        {{ profile.lastName }}
      </h3>
      <div class="profile-status-detail">
        <div class="profile-icon-box">
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Icon for profile country"
          >
            map
          </mat-icon>
          <span>{{ profile.country }} / {{ profile.city }}</span>
        </div>
        <div class="profile-icon-box">
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Icon for profile status"
          >
            badge
          </mat-icon>
          <span>{{ profile.status }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
