.user-profile-header {
  background-color: var(--dark-one);
  padding-bottom: 1rem;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.user-profile-cover {
  position: relative;
  display: flex;
  justify-content: center;
}

.user-profile-cover-image {
  background: var(--white);
  width: 100%;
  cursor: pointer;

  img {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
}

.user-profile-cover-bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background: var(--dark-one);
  border-radius: 4px 0;
}

.user-profile-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary);
  border-radius: 100%;
  position: absolute;
  bottom: -55px;
  background: var(--dark-one);
  width: 110px;
  height: 110px;
}

.user-profile-image {
  border-radius: 100%;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  background-color: var(--soft);
  cursor: pointer;

  img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.user-profile-name {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 300;
    color: var(--soft);

    strong {
      font-weight: 500;
      color: var(--white);
    }
  }
}

.user-profile-icon-box {
  display: flex;
  align-items: center;

  mat-icon {
    color: var(--primary);
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 18px;
  }

  span {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .user-profile-name {
    h3 {
      font-size: 24px;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      br {
        display: none;
      }
      strong {
        margin-right: 0.5rem;
      }
    }
  }

  .user-profile-status-detail {
    display: flex;
    align-items: center;
  }

  .user-profile-icon-box-client {
    order: 1;
  }

  .user-profile-icon-box-map {
    order: 2;
  }
  .user-profile-icon-box {
    padding-right: 1rem;

    mat-icon {
      font-size: 20px;
      line-height: 20px;
      height: 20px;
      width: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  .user-profile-icon-box span br {
    display: none;
  }
}
