.app-title {
  text-align: center;
  margin: 1rem 0;
}

.profile-box {
  display: flex;
  align-items: center;
  background-color: var(--dark-three);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--dark-shadow);
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.profile-box-header {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-box-cover {
  display: none;
  width: 100%;
  height: 155px;
  background-color: var(--soft);

  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.profile-image {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--soft);
  margin-right: 1rem;

  img {
    height: 100%;
    min-height: 64px;
    width: auto;
    object-fit: cover;
  }
}

.profile-box-body {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-size: 17px;
    margin-bottom: 0;
  }
  h5 {
    font-size: 12px;
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: 0;
  }
}

.profile-box-body-action-mobile {
  background-color: transparent;
  color: var(--primary);
  border: none;
}

.profile-box-body-action-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .profile-box {
    flex-direction: column;
    padding: 0;
  }

  .profile-box-cover {
    display: flex;
  }

  .profile-image {
    position: absolute;
    bottom: -50px;
    margin-right: 0;
  }

  .profile-box-body {
    padding: 65px 1rem 1rem 1rem;
    text-align: center;
    flex-direction: column;
  }

  .profile-box-body-action-mobile {
    display: none;
  }

  .profile-box-body-action-lg {
    display: block;
  }
}
