<nav>
  <div class="nav-wrap container">
    <div class="nav-brand" routerLink="/">
      <mat-icon
        aria-hidden="false"
        class="icon"
        svgIcon="kaapo-fit-logo"
      ></mat-icon>
    </div>

    <div class="nav-profile">
      <ng-container *ngIf="isAuthenticate | async; else isNotAuthenticate">
        <app-header-profile [end]="true"></app-header-profile>
      </ng-container>
      <ng-template #isNotAuthenticate>
        <ul>
          <li><a routerLink="autentificare/cont">Contul meu</a></li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
