<nav>
  <div class="nav-wrap">
    <div class="nav-brand">
      <mat-icon
        aria-hidden="false"
        class="icon"
        svgIcon="kaapo-fit-logo"
      ></mat-icon>
    </div>

    <div class="nav-profile">
      <ul>
        <ng-container *ngIf="isAuthenticate | async; else isNotAuthenticate">
          <li><a routerLink="/" (click)="onLogout($event)">Logout</a></li>
        </ng-container>
        <ng-template #isNotAuthenticate>
          <li><a routerLink="auth/login">Login</a></li>
          <li>/</li>
          <li><a routerLink="auth/sign-up">Sign Up</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
