section {
  display: flex;
}
.wide-ads-banner {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--soft);

  p {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .wide-ads-banner {
    overflow: hidden;
    margin: 0 1rem;
  }
}
