// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kaapo-fit-primary: mat.define-palette(mat.$teal-palette);
$kaapo-fit-accent: mat.define-palette(mat.$cyan-palette);

// The warn palette is optional (defaults to red).
$kaapo-fit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kaapo-fit-theme: mat.define-light-theme((
  color: (
    primary: $kaapo-fit-primary,
    accent: $kaapo-fit-accent,
    warn: $kaapo-fit-warn,
  )
));

// Include theme styles for shared and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kaapo-fit-theme);

/* You can add global styles to this file, and also import other style files */
@import "styles/variables";



/*
  ===============
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--dark-one);
  color: var(--white);
  line-height: 1.5;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--spacing);
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 43px;
}

h2 {
  font-size: 1.75rem;
  line-height: 30px;
}

h3 {
  font-size: 1.5rem;
  line-height: 30px;
}

h4 {
  font-size: 1.35rem;
  line-height: 28px;
}

h5 {
  font-size: 1.25rem;
  line-height: 25px;
}

h6 {
  font-size: 1.063rem;
  line-height: 22px;
}

p {
  margin-bottom: 0.938rem;
  line-height: 18px;
}
